@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$primary-black: #1d1512;
$primary-white: #ffffff;
$light-gray: #666666;
$secondary-color: #f5f5f5;
$dark-color: #1a1a1a;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  background-color: #230b36;
  position: relative;

  .toggler {
    display: none;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  .brand-name img {
    @media only screen and (min-width: 900px) {
      width: 10em;
    }
  }
  .navbar-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    @media screen and (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $primary-black;
      color: $primary-white;
      padding: 3rem 0;
      gap: 10px;
    }
  }

  &.menu-open .navbar-menu {
    display: flex;
  }

  li {
    font-size: 18px;
    margin: 0 5px;
    transition: color 0.3s ease-out;

    a {
      text-decoration: none;
      color: $primary-white;
      padding: 0 15px;
    }

    @media screen and (max-width: 768px) {
      display: block;
      padding: 0.5rem;
      text-align: center;
    }
  }
  @media only screen and (min-width: 768px) {
    padding: 1.5em 2em;
  }
}

.section-vaults {
  background-color: #230b36;
  color: #dfdedf;
  padding: 6em 2em;
  display: flex;
  margin: 0;
  gap: 35px;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    padding: 6em 5em;

    h1 {
      font-size: 3.5rem;
      line-height: 4.3rem;

      @media only screen and (min-width: 1006px) {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
}
.cards-container {
  background-color: #2a1546;
  padding: 4em 2em;

  .sort-by-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 45px;

    button {
      background-color: transparent;
      border: 1px solid $light-gray;
      border-radius: 20rem;
      color: $primary-white;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin: 0 10px 10px 0;
      transition: all 0.2s ease-in-out;
      text-transform: capitalize;
      padding: 15px 25px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: $primary-white;
        color: $primary-black;
      }

      @media (max-width: 767px) {
        margin: 0 8px 8px 0;
      }
    }
  }

  .section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 2em;
    // padding: 6em 2em;

    .card {
      width: 320px;
      height: 300px;
      color: $primary-black;
      background-color: $primary-white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      transition: transform 0.3s ease-in-out;
      padding: 1rem;

      &:hover {
        transform: scale(1.1);
      }

      .option-logo {
        font-size: 3em;
        margin-bottom: 0.5rem;
      }
      .wbtc-icon {
        color: #f4941d;
      }

      .usdc-logo,
      .frax-logo,
      .weth-logo {
        width: 45px;
        margin-bottom: 0.5rem;
      }
      .icons-group {
        display: flex;
        gap: 5px;
      }
      .card-title {
        text-transform: uppercase;
      }

      div:nth-child(2) {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      div:nth-child(3) {
        font-size: 1.25rem;
        font-weight: 400;
        color: #666666;
        margin-bottom: 1.5rem;

        span {
          font-weight: 700;
          color: #2f2f2f;
        }
      }

      button {
        background-color: $primary-black;
        color: $primary-white;
        border: none;
        border-radius: 30px;
        padding: 0.75rem 2rem;
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: capitalize;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #2f2f2f;
        }
      }
    }
  }
}
.section-card {
  padding: 2em;
  background-color: $secondary-color;
  color: $primary-black;

  #back-btn {
    margin-bottom: 45px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: $light-gray;
    background-color: $primary-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 25px;
    color: $primary-black;
    text-transform: capitalize;
    text-align: left;
  }
  @media only screen and (min-width: 1143px) {
    .cards-wrapper {
      display: flex;
      gap: 5rem;
      align-items: center;
    }
  }

  .strategy-container {
    border-radius: 20px;
    // box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: $primary-white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .quick-info-container {
      background-color: #f1f2f9;
      padding: 1em;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      .number-data {
        display: flex;
        gap: 10px;
        justify-content: center;
      }
      @media only screen and (min-width: 644px) {
        .quick-info-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1em;
        }
        .number-data {
          gap: 30px;
        }
      }

      .tvl-group,
      .base-APY-group,
      .max-apy-group {
        padding: 0 3px;
        div:first-child {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 10px;
          color: $primary-black;
        }
        div:last-child {
          font-size: 16px;
          color: $light-gray;
          font-weight: 500;
        }
      }
    }
    .how-work-container {
      padding: 2em 1em;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;

      p {
        text-align: left;
        font-size: 16px;
        color: $light-gray;
        line-height: 26px;
      }
      .learn-more {
        align-items: center;
        display: inline-flex;
        color: #666666;
        font-weight: 500;
      }
    }
    .vault-specifications {
      padding: 1em;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;

      .vault-data {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
      }
      .expiry-wrapper,
      .wbtc-wrapper,
      .current-price-wrapper,
      .current-range-wrapper {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 3px;

        div:first-child {
          font-size: 16px;
          font-weight: bold;
          color: $light-gray;
          margin-bottom: 10px;
        }
        div:last-child {
          font-size: 14px;
          color: $light-gray;

          @media only screen and (min-width: 900px) {
            font-size: 16px;
          }
        }
      }
    }
    .current-deposits {
      padding: 1em;
      padding-bottom: 2em;

      h2 {
        margin-bottom: 20px;
        text-align: left;
      }

      #current-deposits-btn {
        padding: 12px;
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: white;
        background-color: $primary-black;
        font-weight: bold;
      }
    }
  }

  .wallet-card {
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    padding: 20px;
    margin: 4em 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @media only screen and (min-width: 1143px) {
      margin: 0;
    }

    .switch-options {
      display: flex;
      justify-content: space-around;
      margin-bottom: 15px;
      border-bottom: 2px solid #aaa;

      h2 {
        cursor: pointer;
        transition: border 0.3s ease;
        padding-bottom: 6px;
      }
    }

    .deposit-card,
    .withdraw-card {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .amount-label {
        color: $light-gray;
        font-size: 18px;
        text-align: left;
        text-transform: uppercase;
      }

      input[type="number"] {
        border: 1px solid #00000066;
        border-radius: 5px;
        padding: 0.8em;
        font-size: 16px;
        margin-bottom: 15px;
      }

      .wallet-info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $light-gray;
          font-size: 14px;
          font-weight: bold;

          span {
            font-weight: normal;
          }
        }
      }

      button {
        background-color: $primary-black;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 12px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: gray;
        }
      }
    }

    .withdraw-card {
      .buttons {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
      }

      button {
        flex: 1;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 6em 4em;
  }
}
.footer {
  background-color: #230b36;
  color: $primary-white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;

  .brand-resources-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (min-width: 900px) {
      flex-wrap: nowrap;
      width: 100%;
    }
  }

  .brand {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    img {
      width: 150px;
      height: 80px;
    }
    p {
      font-size: inherit;

      @media only screen and (min-width: 836px) {
        width: 60%;
        line-height: 24px;
      }
    }
  }

  .resources-section {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    margin-top: 1em;

    @media only screen and (min-width: 900px) {
      width: 100%;
      justify-content: space-evenly;
      margin-top: 0;
    }
  }

  .resources-container,
  .company-container,
  .socials-container {
    flex-basis: 25%;
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      @media only screen and (min-width: 900px) {
        height: 40px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    li {
      list-style: none;
      cursor: pointer;
    }
  }

  .social-links {
    display: flex;
    align-items: center;

    div {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      cursor: pointer;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  hr {
    border-top: 1px solid $secondary-color;
    margin: 20px 0;
    width: 100%;
  }

  p {
    margin: 0;
    font-size: 14px;
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 25px;

    .resources-container,
    .company-container,
    .socials-container {
      flex-basis: 100%;
      margin-bottom: 25px;
    }

    hr {
      margin: 25px 0;
    }
  }
}

.section-portfolio {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $secondary-color;

  h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 800px;
    line-height: 1.2;
    color: $primary-black;

    @media screen and (min-width: 768px) {
      font-size: 6rem;
      margin-right: 4rem;
      text-align: left;
      max-width: none;
      line-height: 1.1;
    }

    @media screen and (min-width: 1200px) {
      font-size: 8rem;
      margin-bottom: 3rem;
    }
  }

  .img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    img {
      max-width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
      @media screen and (min-width: 768px) {
        width: 100%;
        height: auto;
        max-height: calc(100vh - 4em);
      }
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.App {
  text-align: center;
}
